.container {
  margin-bottom: 1.6rem;
  display: grid;
  grid-template-columns: 4.8rem 1fr 0.4fr 0.3fr;
  gap: 1rem;
}

.container span {
  color: var(--text);
  font-weight: 700;
  font-size: 0.9rem;
  opacity: 0.5;
}